Repository DGtal-team/DGtal, pull requests merged in 2018-08, with the labels that each got.

#1337 Fix compilation warning: type qualifier ignored
  ChangeLog.md
  src/DGtal/base/OrderedAlphabet.ih
Labels: Build, waiting author feedbacks

#1325 Two new star shapes
  ChangeLog.md
  examples/shapes/exampleParametricShapes.cpp
  src/DGtal/shapes/ShapeFactory.h
  src/DGtal/shapes/doc/images/astroid01.png
  src/DGtal/shapes/doc/images/astroid1.png
  src/DGtal/shapes/doc/images/lemniscate01.png
  src/DGtal/shapes/doc/images/lemniscate1.png
  src/DGtal/shapes/doc/moduleShape.dox
  src/DGtal/shapes/doc/packageShapes.dox
  src/DGtal/shapes/parametric/Astroid2D.h
  src/DGtal/shapes/parametric/Astroid2D.ih
  src/DGtal/shapes/parametric/Lemniscate2D.h
  src/DGtal/shapes/parametric/Lemniscate2D.ih
Labels: Shapes, waiting author feedbacks

#1330 fixing doc for Hull2D namespace
  ChangeLog.md
  src/DGtal/geometry/tools/Hull2DHelpers.h
Labels: waiting author feedbacks

#1331 Correction of example filenames in Digital Topology Doc
  ChangeLog.md
  src/DGtal/topology/doc/moduleDigitalTopology.dox
Labels: Documentation, Topology, waiting author feedbacks

#1316 Integral Invariant Tangent Estimator error in 2D
  ChangeLog.md
  src/DGtal/geometry/surfaces/estimation/IIGeometricFunctors.h
Labels: Geometry, waiting author feedbacks

#1340 Ignoring doxygen warning when a reference starts with a digit
  .travis/checkDoxygenDocumentation.sh
  ChangeLog.md
  src/DGtal/topology/doc/moduleDigitalTopology.dox
Labels: Documentation, ready for review :+1:
