Repository DGtal-team/DGtal, pull requests merged in 2019-03, with the labels that each got.

#1398 Enhancing KhalimskySpace related class documentations.
  ChangeLog.md
  src/DGtal/topology/KhalimskyCellHashFunctions.h
  src/DGtal/topology/KhalimskyPreSpaceND.h
  src/DGtal/topology/KhalimskySpaceND.h
Labels: Documentation, ready for review :+1:

#1397 Fix and refactor NumberTraits
  ChangeLog.md
  doc/doxy.config.in
  src/DGtal/kernel/NumberTraits.cpp
  src/DGtal/kernel/NumberTraits.h
  src/DGtal/kernel/NumberTraits.ih
  tests/kernel/CMakeLists.txt
  tests/kernel/testNumberTraits.cpp
Labels: Kernel, ready for review :+1:

#1402 Fixing ChangeLog.md
  ChangeLog.md
Labels: ProjectManagment, ready for review :+1:

#1345 Fixing PointVector implicit conversions
  ChangeLog.md
  examples/geometry/curves/exampleAlphaThickSegment.cpp
  examples/graph/volDistanceTraversal.cpp
  examples/images/exampleArrayImageAdapter.cpp
  examples/io/viewers/viewer3D-8bis-2Dimages.cpp
  examples/tutorial-examples/volDTGranulo.cpp
  src/DGtal/base/BasicFunctors.h
  src/DGtal/geometry/curves/AlphaThickSegmentComputer.h
  src/DGtal/geometry/curves/AlphaThickSegmentComputer.ih
  src/DGtal/geometry/curves/OneBalancedWordComputer.ih
  src/DGtal/geometry/curves/estimation/ParametricShapeArcLengthFunctor.h
  src/DGtal/geometry/tools/Hull2DHelpers.ih
  src/DGtal/io/Display3DFactory.ih
  src/DGtal/kernel/ArithmeticConversionTraits.h
  src/DGtal/kernel/BasicPointFunctors.h
  src/DGtal/kernel/PointVector.h
  src/DGtal/kernel/PointVector.ih
  src/DGtal/kernel/domains/HyperRectDomain.h
  src/DGtal/kernel/domains/HyperRectDomain.ih
  src/DGtal/shapes/Mesh.h
  src/DGtal/shapes/Mesh.ih
  src/DGtal/shapes/MeshVoxelizer.h
  src/DGtal/shapes/MeshVoxelizer.ih
  tests/base/testBasicFunctors.cpp
  tests/geometry/curves/testAlphaThickSegmentComputer.cpp
  tests/geometry/surfaces/testMonge.cpp
  tests/geometry/surfaces/testTensorVotingViewer.cpp
  tests/images/testArrayImageAdapter.cpp
  tests/images/testConstImageFunctorHolder.cpp
  tests/io/readers/testMeshReader.cpp
  tests/kernel/testBasicPointFunctors.cpp
  tests/kernel/testHyperRectDomain.cpp
  tests/kernel/testPointVector.cpp
  tests/math/testRealFFT.cpp
  tests/shapes/testMesh.cpp
Labels: Arithmetic, Kernel, ready for review :+1:

#1352 Add extra exceptions for arithmetic and types operations
  ChangeLog.md
  src/DGtal/base/Common.cpp
  src/DGtal/base/Common.h
  src/DGtal/geometry/surfaces/estimation/estimationFunctors/SphericalHoughNormalVectorEstimator.h
  tests/dec/testHeatLaplace.cpp
Labels: Arithmetic, BugFix, Build

#1405 Documenting conversion rules for operations involving PointVector.
  src/DGtal/kernel/PointVector.h
Labels: Documentation, Kernel, ready for review :+1:
