Repository DGtal-team/DGtal, pull requests merged in 2019-01, with the labels that each got.

#1369 Remove Object from VoxelComplex
  ChangeLog.md
  examples/topology/generateVoxelComplexTables.cpp
  src/DGtal/topology/VoxelComplex.h
  src/DGtal/topology/VoxelComplex.ih
  src/DGtal/topology/VoxelComplexFunctions.h
  src/DGtal/topology/VoxelComplexFunctions.ih
  src/DGtal/topology/doc/moduleVoxelComplex.dox
  src/DGtal/topology/tables/NeighborhoodTablesGenerators.h
  tests/topology/testVoxelComplex.cpp
Labels: Topology, waiting author feedbacks

#1376 Fixing doxygen warnings
  .travis.yml
  .travis/build_dgtal_doc.sh
  .travis/checkDoxygenDocumentation.sh
  ChangeLog.md
  doc/doxy.config.Board.in
  doc/doxy.config.dox.in
  doc/doxy.config.in
  examples/topology/trackImplicitPolynomialSurfaceToOFF.cpp
  src/DGtal/doc/tutorials/tutoImageGridCurveExtraction.dox
  src/DGtal/geometry/tools/determinant/InGeneralizedDiskOfGivenRadius.h
  src/DGtal/math/doc/modulePolynomial.dox
  src/DGtal/topology/VoxelComplex.h
  src/DGtal/topology/VoxelComplexFunctions.h
  tests/geometry/tools/testConvexHull2D.cpp
  tests/io/readers/testRawReader.cpp
Labels: Documentation, ready for review :+1:

#1383 Fix Travis (documentation deploy & DGtalTools)
  .travis.yml
  .travis/before_global.sh
  .travis/build_all.sh
  .travis/build_dgtal.sh
  .travis/build_dgtal_doc.sh
  .travis/checkDoxygenDocumentation.sh
  .travis/check_tests.sh
  .travis/getAndCheckDGtalTools.sh
  .travis/install_deps_macos.sh
  .travis/install_doxygen.sh
  .travis/install_eigen.sh
  ChangeLog.md
Labels: Build, ready for review :+1:

#1374 Fixing separable metric documentation
  ChangeLog.md
  src/DGtal/doc/mainpage.dox
  src/DGtal/geometry/doc/moduleMetrics.dox
  src/DGtal/geometry/doc/moduleVolumetric.dox
Labels: Documentation, Geometry, ready for review :+1:

#1379 Improve ITKReader, testITKio and testITKReader
  ChangeLog.md
  src/DGtal/images/ImageContainerByITKImage.h
  src/DGtal/io/readers/DicomReader.ih
  src/DGtal/io/readers/ITKReader.h
  src/DGtal/io/readers/ITKReader.ih
  src/DGtal/io/writers/ITKWriter.ih
  tests/io/readers/testITKReader.cpp
  tests/io/testITKio.cpp
Labels: Build, Image, waiting author feedbacks

#1380 Compilation with Visual Studio (15.9.5)
  AUTHORS
  ChangeLog.md
  src/DGtal/io/readers/PGMReader.ih
  src/DGtal/io/readers/PPMReader.ih
  src/DGtal/io/writers/LongvolWriter.ih
  src/DGtal/io/writers/PGMWriter.ih
  src/DGtal/io/writers/PPMWriter.ih
  src/DGtal/io/writers/VolWriter.ih
  tests/geometry/volumes/distance/testChamferDT.cpp
  tests/geometry/volumes/distance/testChamferVoro.cpp
  tests/images/testCheckImageConcept.cpp
  tests/images/testHashTree.cpp
  tests/io/writers/testPNMRawWriter.cpp
  tests/shapes/testTriangulatedSurface.cpp
  tests/topology/testHalfEdgeDataStructure.cpp
Labels: Build, waiting author feedbacks

#1377 Specializes DigitalSurface::facesAroundVertex in the 3D case
  ChangeLog.md
  src/DGtal/topology/DigitalSurface.h
  src/DGtal/topology/DigitalSurface.ih
  src/DGtal/topology/doc/moduleDigitalSurfaces.dox
  tests/topology/testDigitalSurface.cpp
Labels: Topology, ready for review :+1:
