Repository DGtal-team/DGtal, pull requests merged in 2019-10, with the labels that each got.

#1436 Disable warnings
  ChangeLog.md
  src/DGtal/base/Common.h
Labels: Build, ready for review :+1:

#1438 CSS edits
  ChangeLog.md
  doc/modern-doxygen-blue.css
  doc/modern-doxygen-darkblue.css
  doc/modern-doxygen-green.css
  doc/modern-doxygen-orange.css
  doc/modern-doxygen-purple.css
  src/DGtal/kernel/doc/packageKernel.dox
Labels: Documentation, ready for review :+1:

#1416 Making HyperRectDomain_(sub)Iterator random access iterators.
  ChangeLog.md
  examples/kernel/CMakeLists.txt
  examples/kernel/exampleHyperRectDomainParallelScan.cpp
  src/DGtal/kernel/doc/moduleSpacePointVectorDomain.dox
  src/DGtal/kernel/domains/HyperRectDomain.h
  src/DGtal/kernel/domains/HyperRectDomain_Iterator.h
  tests/CMakeLists.txt
  tests/base/CMakeLists.txt
  tests/images/CMakeLists.txt
  tests/kernel/CMakeLists.txt
  tests/kernel/benchmarkHyperRectDomain-catch.cpp
  tests/kernel/benchmarkHyperRectDomain-google.cpp
  tests/kernel/benchmarkHyperRectDomain.cpp
  tests/kernel/testDomainSpanIterator.cpp
  tests/kernel/testHyperRectDomain.cpp
Labels: Kernel, ready for review :+1:

#1439 Re-enable testVoronoiCovarianceMeasureOnSurface test
  ChangeLog.md
  tests/geometry/surfaces/CMakeLists.txt
  tests/geometry/surfaces/testVoronoiCovarianceMeasureOnSurface.cpp
Labels: Geometry
