Repository DGtal-team/DGtal, pull requests merged in 2020-01, with the labels that each got.

#1445 Unify pointel ordering in Shortcuts and MeshHelpers
  .travis.yml
  ChangeLog.md
  src/DGtal/helpers/Shortcuts.h
  src/DGtal/shapes/MeshHelpers.ih
  src/DGtal/shapes/PolygonalSurface.h
  tests/helpers/CMakeLists.txt
  tests/helpers/testShortcuts.cpp
Labels: BugFix, Shapes, ready for review :+1:

#1446 Removing C++11 checks
  ChangeLog.md
  cmake/CheckCPP11.cmake
  cmake/CheckDGtalDependencies.cmake
  cmake/Common.cmake
  cmake/DGtalConfig.cmake.in
  cmake/DGtalConfigGenerator.cmake
  cmake/src/ITKcpp11Bug/CMakeLists.txt
  cmake/src/ITKcpp11Bug/itkcpp11.cpp
  cmake/src/cpp11/cpp11_check.cpp
Labels: Build, ready for review :+1:

#1455 Fixing various links in moduleCellularTopology.dox
  ChangeLog.md
  src/DGtal/arithmetic/IntegerComputer.h
  src/DGtal/arithmetic/LatticePolytope2D.h
  src/DGtal/arithmetic/LightSternBrocot.h
  src/DGtal/arithmetic/SternBrocot.h
  src/DGtal/arithmetic/doc/moduleIrreducibleFraction.dox
  src/DGtal/arithmetic/doc/packageArithmetic.dox
  src/DGtal/doc/global.bib
  src/DGtal/doc/mainpage.dox
  src/DGtal/geometry/curves/AlphaThickSegmentComputer.h
  src/DGtal/geometry/doc/moduleAlphaThickSegmentReco.dox
  src/DGtal/geometry/surfaces/COBAGenericNaivePlaneComputer.h
  src/DGtal/geometry/surfaces/COBANaivePlaneComputer.h
  src/DGtal/math/MultiStatistics.h
  src/DGtal/math/OrderedLinearRegression.h
  src/DGtal/math/Profile.h
  src/DGtal/math/Signal.h
  src/DGtal/math/SimpleLinearRegression.h
  src/DGtal/math/Statistic.h
  src/DGtal/math/Statistic.ih
  src/DGtal/shapes/parametric/AccFlower2D.h
  src/DGtal/shapes/parametric/Ellipse2D.h
  src/DGtal/shapes/parametric/Flower2D.h
  src/DGtal/shapes/parametric/NGon2D.h
  src/DGtal/shapes/parametric/StarShaped2D.h
  src/DGtal/shapes/parametric/StarShaped3D.h
  src/DGtal/topology/KhalimskyPreSpaceND.h
  src/DGtal/topology/KhalimskySpaceND.h
  src/DGtal/topology/SurfelAdjacency.h
  src/DGtal/topology/SurfelNeighborhood.h
  src/DGtal/topology/UmbrellaComputer.h
  src/DGtal/topology/doc/moduleCellularTopology.dox
  src/DGtal/topology/doc/moduleCubicalComplex.dox
  src/DGtal/topology/doc/moduleDigitalSurfaceHelpers.dox
  src/DGtal/topology/doc/moduleDigitalSurfaces.dox
  src/DGtal/topology/helpers/Surfaces.h
Labels: Documentation, ready for review :+1:

#1451 Make testVoxelComplex faster
  ChangeLog.md
  tests/topology/testVoxelComplex.cpp
Labels: Build, Topology, waiting author feedbacks

#1452 Add public function .data() to PointVector
  ChangeLog.md
  src/DGtal/kernel/PointVector.h
  src/DGtal/kernel/PointVector.ih
  tests/kernel/testPointVector.cpp
Labels: Kernel, waiting author feedbacks

#1453 CMake: Remove usage of inexistent cmake/src/ITKcpp11Bug/
  ChangeLog.md
  cmake/CheckDGtalOptionalDependencies.cmake
Labels: BugFix, Build, waiting author feedbacks
