Repository DGtal-team/DGtal, pull requests merged in 2020-05, with the labels that each got.

#1485 process ITK in GenericWriter
  ChangeLog.md
  src/DGtal/io/writers/GenericWriter.ih
Labels: ready for review :+1:

#1484 Itk image origin fix
  ChangeLog.md
  src/DGtal/images/ImageContainerByITKImage.ih
Labels: BugFix, waiting author feedbacks

#1486 Fixing error and warnings with LLVM 10.0
  ChangeLog.md
  src/DGtal/arithmetic/LatticePolytope2D.ih
  src/DGtal/base/OrderedAlphabet.ih
  src/DGtal/base/Trace.ih
  src/DGtal/geometry/curves/FreemanChain.ih
  src/DGtal/geometry/curves/Naive3DDSSComputer.ih
  src/DGtal/geometry/curves/StandardDSS6Computer.ih
  src/DGtal/geometry/surfaces/estimation/CSurfelLocalEstimator.h
  src/DGtal/graph/Expander.ih
  src/DGtal/io/boards/Board2D.ih
  src/DGtal/io/boards/Board3D.ih
  src/DGtal/io/colormaps/GradientColorMap.ih
  src/DGtal/kernel/sets/DigitalSetConverter.ih
  src/DGtal/math/AngleLinearMinimizer.ih
  src/DGtal/math/Signal.ih
  src/DGtal/shapes/parametric/AccFlower2D.ih
  src/DGtal/shapes/parametric/Astroid2D.ih
  src/DGtal/shapes/parametric/Ball3D.ih
  src/DGtal/shapes/parametric/Ellipse2D.ih
  src/DGtal/shapes/parametric/Lemniscate2D.ih
  src/DGtal/shapes/parametric/NGon2D.ih
  src/DGtal/topology/DomainAdjacency.ih
  src/DGtal/topology/MetricAdjacency.ih
  src/DGtal/topology/Object.ih
Labels: Compilation Issue, Documentation, ready for review :+1:

#1491 Fixing ArithmeticalDSSComputer aliases
  ChangeLog.md
  src/DGtal/geometry/curves/ArithmeticalDSSComputer.h
  src/DGtal/geometry/curves/ArithmeticalDSSComputer.ih
Labels: BugFix, Geometry, ready for review :+1:

#1492 Itk shift domain in reader
  ChangeLog.md
  src/DGtal/images/ImageContainerByITKImage.h
  src/DGtal/images/ImageContainerByITKImage.ih
  src/DGtal/io/readers/ITKReader.h
  src/DGtal/io/readers/ITKReader.ih
  tests/images/testITKImage.cpp
  tests/io/readers/testITKReader.cpp
  tests/samples/lobsterCroped2.nii
Labels: Image, ready for review :+1:

#1487 Improvements of GenericWriter
  ChangeLog.md
  src/DGtal/io/colormaps/GradientColorMap.h
  src/DGtal/io/colormaps/GradientColorMap.ih
  src/DGtal/io/doc/images/colormaps.png
  src/DGtal/io/writers/GenericWriter.h
  src/DGtal/io/writers/GenericWriter.ih
Labels: ready for review :+1:

#1488 Fix bug in VoxelComplex when cell is at boundary of kspace.
  ChangeLog.md
  src/DGtal/topology/CubicalComplex.h
  src/DGtal/topology/CubicalComplex.ih
  src/DGtal/topology/CubicalComplexFunctions.ih
  src/DGtal/topology/VoxelComplex.h
  src/DGtal/topology/VoxelComplex.ih
Labels: Topology

#1459 Full convexity
  .gitignore
  ChangeLog.md
  examples/geometry/curves/CMakeLists.txt
  examples/geometry/curves/exampleDigitalConvexity.cpp
  examples/geometry/curves/exampleRationalConvexity.cpp
  src/DGtal/geometry/doc/images/grid-curve-dig-convexity.png
  src/DGtal/geometry/doc/images/grid-curve-subconvex-rational-segment.png
  src/DGtal/geometry/doc/images/non-fully-convex-triangles.png
  src/DGtal/geometry/doc/moduleDigitalConvexity.dox
  src/DGtal/geometry/doc/packageGeometry.dox
  src/DGtal/geometry/volumes/BoundedLatticePolytope.h
  src/DGtal/geometry/volumes/BoundedLatticePolytope.ih
  src/DGtal/geometry/volumes/BoundedRationalPolytope.h
  src/DGtal/geometry/volumes/BoundedRationalPolytope.ih
  src/DGtal/geometry/volumes/CellGeometry.h
  src/DGtal/geometry/volumes/CellGeometry.ih
  src/DGtal/geometry/volumes/DigitalConvexity.h
  src/DGtal/geometry/volumes/DigitalConvexity.ih
  src/DGtal/topology/CubicalComplex.h
  tests/geometry/volumes/CMakeLists.txt
  tests/geometry/volumes/testBoundedLatticePolytope.cpp
  tests/geometry/volumes/testBoundedRationalPolytope.cpp
  tests/geometry/volumes/testCellGeometry.cpp
  tests/geometry/volumes/testDigitalConvexity.cpp
Labels: Geometry, ready for review :+1:
